<section id="all-tasks-section">
  <div class="container">
    <h1 class="section-title work-section-title">Find Work</h1>
      {{#each orders}}
          <div class="row entry-row">
              <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">{{this.Customer.firstname}} {{this.Customer.lastname}}</span>
                  <p>{{this.address}}</p>
              </div>
              <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Services</span>
                  <span>{{this.serviceText}}</span>
              </div>
              <div class="col-lg-2 col-sm-6 col-6">
                  <span class="col-title">Pickup</span>
                  <span>{{this.pickuptime}}</span>
              </div>
              <div class="col-lg-2 col-sm-6 col-6">
                  <span class="col-title">Rating</span>
                  <div class="myRating-1"></div>
              </div>
              <div class="col-lg-2 col-sm-12 col-12">
                  <div class="d-flex flex-lg-column flex-row justify-content-lg-around justify-content-start align-items-end pending-actions">
                      <a class="modal-btn" data-toggle="modal" data-target=".order-modal">View Details</a>
                      <a class="theme-btn accept-btn" id="{{this.id}}" onclick="acceptWork({{this.id}})">Accept</a>
                  </div>
              </div>
          </div>
      {{/each}}

    <div class="modal fade order-modal" tabindex="-1" role="dialog" aria-labelledby="orderDetails" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Order Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="close-btn"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Brenda Walker</span>
                  <span>770 Michigan Avenue, Gibsonia, PA 15044</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Pickup</span>
                  <span>3:00 PM, 5/5/2019</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Phone</span>
                  <span>231-022-1232</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Rating</span>
                  <div class="myRating-1"></div>
                </div>
              </div>
              <h5 class="modal-subtitle">Wash &amp; Dry</h5>
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Load Size</span>
                  <span>Large</span>
                  <span>Small</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Number</span>
                  <span>2</span>
                  <span>1</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Prices</span>
                  <span>$14</span>
                  <span>$5</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Drop-off</span>
                  <span>3:00 PM, 5/5/2019</span>
                </div>
              </div>

              <h5 class="modal-subtitle">Dry Clean</h5>
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Category</span>
                  <span>Jacket</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Number</span>
                  <span>1</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Prices</span>
                  <span>$10</span>
                </div>
                <div class="col-lg-3 col-sm-6 col-6">
                  <span class="col-title">Drop-off</span>
                  <span>3:00 PM, 5/7/2019</span>
                </div>
              </div>

              <div class="row" id="cost-container">
                  <div class="col-md-4 col-sm-12 col-12">
                      <div class="d-flex justify-content-between">
                        <span>Subtotal:</span>
                        <span>$29</span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <span>Service Fee:</span>
                        <span>$8</span>
                      </div>
                      <div class="d-flex justify-content-between" id="model-final-total">
                        <span>Total:</span>
                        <span>$37</span>
                      </div>
                  </div>

                  <div class="col-md-4"></div>
                  <div class="col-md-4 col-sm-12 col-12 d-flex justify-content-end align-items-end">
                    <a class="theme-btn accept-btn">Accept</a>
                  </div>
                 <!--  <div class="col-md-4 offset-md-4 offset-6"></div> -->
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>